.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 2px black;
    opacity: 0.5;
    padding: 0 5px * 4;
    background-color:white;
    color: #E038C7;


    a {
        text-decoration: none;
        color: #E038C7;

    }

    .faStyles {
        font-size: 150%;
    }
}
