
.content {
  max-width: 100vw;
  max-height: 100vh;
  height: calc(100vh - 75px);
}

.SectionButton {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

        }
.Button {

  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
      
                }
        