.RecipieCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 90%;
  height: auto;
  background-color: papayawhip;
}
.RecipieCard .banner {
  display: flex;
  flex-direction: row;
}
.RecipieCard .image {
  display: flex;
  width: auto;
}
.RecipieCard .image .responsiveImage {
  height: auto;
  width: 100%;
}
.RecipieCard p {
  font-size: 80%;
}

.SectionButton {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Button {
  width: 40%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
}