.RecipieCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: auto;
  background-color: papayawhip;
}
.RecipieCard .fontAwesomeFavorite {
  color: red;
  font-size: 200%;
}
.RecipieCard .fontAwesome {
  color: grey;
  font-size: 200%;
}
.RecipieCard .banner {
  display: flex;
  flex-direction: row;
}
.RecipieCard .banner .image {
  display: flex;
  width: auto;
}
.RecipieCard .banner .image .responsiveImage {
  height: 225px;
  width: 225px;
}
.RecipieCard .banner .list {
  width: 25%;
  font-size: 70%;
}
.RecipieCard .banner h1 {
  width: 15%;
}
.RecipieCard .banner p {
  font-size: 70%;
  width: 80%;
}

.SectionButton {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Button {
  width: 40%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
}