.RecipieCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: auto;
  background-color: papayawhip;

  .fontAwesomeFavorite {
    color: red;
    font-size: 250%;
    width: 5%;
    height: 5%;
    margin: 3%;
  }

  .fontAwesome {
    color: grey;
    font-size: 250%;
    width: 5%;
    height: 5%;
    margin: 3%;
    ;
  }

  .banner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .image {
      height: 40%;
      width: auto;
      margin: 1%;


      .responsiveImage {
        height: 100%;
        width: 100%;

      }
    }
    .list {
      width: auto;
      margin: 1%;

    }
    h1 {
      margin: 1%;
      color: #E038C7;
      font-size: 150%;
      width: 10%;


    }

    p {
      width: auto;
      margin: 1%;
    }
  }

}