.RecipieCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: auto;
  background-color: papayawhip;
}
.RecipieCard .fontAwesomeFavorite {
  color: red;
  font-size: 250%;
  width: 5%;
  margin: 3%;
}
.RecipieCard .fontAwesome {
  color: grey;
  font-size: 250%;
  width: 5%;
  margin: 3%;
}
.RecipieCard .banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.RecipieCard .banner .image {
  height: auto;
  width: 50%;
}
.RecipieCard .banner .image .responsiveImage {
  height: 100%;
  width: 100%;
  margin: 2%;
}
.RecipieCard .banner .list {
  width: auto;
  margin: 2%;
}
.RecipieCard .banner h1 {
  width: 5%;
  margin: 2%;
}
.RecipieCard .banner p {
  width: auto;
  margin: 2%;
}