.RecipieCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 90%;
  height: auto;
  background-color: papayawhip;

  .fontAwesomeFavorite{
    color:red
  }


  .fontAwesome{
    color:grey
  }

  .banner {
    display: flex;
    flex-direction: row;

    .image {
      display: flex;
      width: auto;
  
      .responsiveImage {
        height: 225px;
        width: 225px;
      }
    }
    .list {
      width: 60%;
      font-size: 70%;

  
    }
  }

  p {
    font-size: 70%;

  }
}

.SectionButton {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.Button {

  width: 40%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;

}

