

.RecipieCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vw;
    border: 5% solid black;
    }

    img {
        width: 50%;
        height: 50%;
        opacity: 0.6;

    }